header.header
    button(type="button").header__toggle.js-toggle
    nav.header__nav.nav
        .nav__line
            b.nav__title Популярные направления:
            .nav__block
                details.nav__item
                    summary.nav__summary Программирование
                    .nav__inner
                        b.nav__subtitle Профессии:
                        ul.nav__list
                            li.nav__list-item
                                a(href="#" target="_self").nav__list-link Интернет-маркетолог
                details.nav__item
                    summary.nav__summary Аналитика
                    .nav__inner
                        b.nav__subtitle Профессии:
                        ul.nav__list
                            li.nav__list-item
                                a(href="#" target="_self").nav__list-link Интернет-маркетолог
                details(open).nav__item
                    summary.nav__summary Маркетинг и реклама
                    .nav__inner
                        b.nav__subtitle Профессии:
                        ul.nav__list
                            li.nav__list-item
                                a(href="itemcard.html" target="_self").nav__list-link Интернет-маркетолог
                            li.nav__list-item
                                a(href="#" target="_self").nav__list-link Таргетолог
                            li.nav__list-item
                                a(href="#" target="_self").nav__list-link SEO специалист
                            li.nav__list-item
                                a(href="#" target="_self").nav__list-link SMM специалист
                            li.nav__list-item
                                a(href="#" target="_self").nav__list-link Email специалист
                            li.nav__list-item
                                a(href="#" target="_self").nav__list-link Специалист по контекстной рекламе
                        .nav__choice
                            span.nav__choice-icon
                            b.nav__choice-name Лучшая школа в категории:
                            span.nav__choice-title Маркетинг и реклама
        .nav__line
            a(href="#" target="_self").nav__link Все профессии
            a(href="#" target="_self").nav__link Статьи
            form(action="" method="").nav__search
                input(type="search" id="search" name="nav-search" placeholder="Найти").nav__search-input
            button(type="button").nav__cabinet Войти
    .header__logo
        a(href="index.html" target="_self").header__logo-link
            img(src="static/images/content/logo.png" width="" height="" alt="300").header__logo-img  
    button(type="button").header__cabinet Войти