section.calc
    span.calc__bg %
    h1.calc__title Рассчитайте проект в калькуляторе
    .calc__controls
        a(href="#form" target="_self").calc__controls-btn.js-callback Заказать звонок
        a(href="calculator.html" target="_self").calc__controls-btn.js-link Рассчитать проект
