section.intro
    h1.intro__title Обучение лучшим  IT профессиям Онлайн
    p.intro__description Лучшая школа по по результатам отзывов и рекомендаций пользователей

    ul.intro__list
        +introItem('Рассрочка стоимости курсов на 12/24/60 месяцев', 'intro-1')
        +introItem('Профессиональные преподаватели специалисты ', 'intro-2')
        +introItem('Лучшая методика обучения с сохранением материлов', 'intro-3')
        +introItem('Гибкий график обучения', 'intro-4')
    .intro__about
        p.intro__description dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.