section.intro
    h1.intro__title 
        span Разработка 
        span и&nbsp;
        span обслуживание 
        span веб-проектов
    p.intro__description проектирование, создание и продвижение сайтов
    a(href="calculator.html" target="_self").intro__link Рассчитать стоимость
