section.overview
    h1.overview__title Интернет маркетолог - обзор професии
    ul.overview__list
        +overviewItem('Общий рейтинг', '60/100', 'over-1')
        +overviewItem('Ср.стоимость курса', '10 000 ₽', 'over-1')
        +overviewItem('Сложность входа', '5/10', 'over-1')
        +overviewItem('Востребованность', '9/10', '')
        +overviewItem('Средняя ЗП в России', '50 000 ₽', 'over-1')
        +overviewItem('Срок обучения', '3-60 мес.', 'over-1')
    .overview__aside 
        h2.overview__subtitle Онлайн обучение по профессии
        p.overview__description Платные курсы с сертификацией и дипломом
        a(href='#' target="_self").overview__link Перейти в школу