section.pro
    h2.pro__title Профессии
    ul.pro__list
        //- 
        li.pro__item
            .pro__body
                .pro__head 
                    span.pro__icon
                    b.pro__name Занимаются разработкой
                ul.pro__inner
                    li.pro__inner-item
                        span.pro__inner-name Python
                    li.pro__inner-item
                        span.pro__inner-name Java
                    li.pro__inner-item
                        span.pro__inner-name PHP
                    li.pro__inner-item
                        span.pro__inner-name C++
                    li.pro__inner-item
                        span.pro__inner-name Android
                    li.pro__inner-item
                        span.pro__inner-name iOS
                    li.pro__inner-item
                        span.pro__inner-name Web
                    li.pro__inner-item
                        span.pro__inner-name Go
                    li.pro__inner-item
                        span.pro__inner-name Kotlin
                    li.pro__inner-item
                        span.pro__inner-name Django
                    li.pro__inner-item
                        span.pro__inner-name Javascript
                    li.pro__inner-item
                        span.pro__inner-name C#
                    li.pro__inner-item
                        span.pro__inner-name Ruby
                    li.pro__inner-item
                        span.pro__inner-name Backend
                    li.pro__inner-item
                        span.pro__inner-name Frontend
            .pro__bottom 
                img(src="static/images/content/sf.svg" width="" height="" alt="SkillFactory").pro__bottom-logo
                p.pro__bottom-description Промокод на 10% скидки "ПРОМО"
                a(href="#" target="_self").pro__bottom-link Перейти в школу
        //- 
        li.pro__item
            .pro__body
                .pro__head 
                    span.pro__icon
                    b.pro__name Те кто делают игры
                ul.pro__inner
                    li.pro__inner-item
                        span.pro__inner-name Геймдизайнер
                    li.pro__inner-item
                        span.pro__inner-name 3D-художник
                    li.pro__inner-item
                        span.pro__inner-name 3D-аниматор
                    li.pro__inner-item
                        span.pro__inner-name Игры на Android
                    li.pro__inner-item
                        span.pro__inner-name Unity (Кроссплатформа)
                    li.pro__inner-item
                        span.pro__inner-name Концепт-художник
                    li.pro__inner-item
                        span.pro__inner-name CGI-художник
                    li.pro__inner-item
                        span.pro__inner-name Инди-игры
                    li.pro__inner-item
                        span.pro__inner-name Игры на iOS
            .pro__bottom 
                img(src="static/images/content/sf.svg" width="" height="" alt="SkillFactory").pro__bottom-logo
                p.pro__bottom-description Промокод на 10% скидки "ПРОМО"
                a(href="#" target="_self").pro__bottom-link Перейти в школу
        //- 
        li.pro__item
            .pro__body
                .pro__head 
                    span.pro__icon
                    b.pro__name Рекламируют в интернете
                ul.pro__inner
                    li.pro__inner-item
                        span.pro__inner-name Интернет-маркетолог
                    li.pro__inner-item
                        span.pro__inner-name Таргетолог
                    li.pro__inner-item
                        span.pro__inner-name SMM специалист
                    li.pro__inner-item
                        span.pro__inner-name Email маркетолог
                    li.pro__inner-item
                        span.pro__inner-name SEO специалист
                    li.pro__inner-item
                        span.pro__inner-name Специалист по контекстной рекламе
            .pro__bottom 
                img(src="static/images/content/sf.svg" width="" height="" alt="SkillFactory").pro__bottom-logo
                p.pro__bottom-description Промокод на 10% скидки "ПРОМО"
                a(href="#" target="_self").pro__bottom-link Перейти в школу
        //- 
        li.pro__item
            .pro__body
                .pro__head 
                    span.pro__icon
                    b.pro__name Занимаются аналитикой
                ul.pro__inner
                    li.pro__inner-item
                        span.pro__inner-name Аналитик на Python
                    li.pro__inner-item
                        span.pro__inner-name Системный аналитик
                    li.pro__inner-item
                        span.pro__inner-name SQL-аналитик БД
                    li.pro__inner-item
                        span.pro__inner-name Аналитики Excel
                    li.pro__inner-item
                        span.pro__inner-name Аналитик BI
                    li.pro__inner-item
                        span.pro__inner-name Аналитик продаж
            .pro__bottom 
                img(src="static/images/content/sf.svg" width="" height="" alt="SkillFactory").pro__bottom-logo
                p.pro__bottom-description Промокод на 10% скидки "ПРОМО"
                a(href="#" target="_self").pro__bottom-link Перейти в школу