section.services#services
    h2.services__title.section-title Виды работ
    ul.services__list
        +servicesItem('btnDisc01', 'Disclosed01', 'Аудит', 'service-1', 'Предварительный анализ тематики заказчика')
        +servicesInner('Disclosed01', 'servInner-1.png', 'service-1', 'На основе аудита формируем ТЗ на необходимые разделы сайта, блоки / экраны, страницы. Готовим ч/б версию сайта с ключевыми шаблонами страниц в нескольких разрешениях. Работаем в Figma/Axure.', '#', 'Пример прототипа Figma ↓', '#', 'Пример протипа Axure ↓')
        
        +servicesItem('btnDisc02', 'Disclosed02', 'Проектирование', 'service-2', 'Создание структуры сайта')
        +servicesInner('Disclosed02', 'servInner-2.png', 'service-2', 'На основе аудита формируем ТЗ на необходимые разделы сайта, блоки / экраны, страницы. Готовим ч/б версию сайта с ключевыми шаблонами страниц в нескольких разрешениях. Работаем в Figma/Axure.',  '#', 'Пример прототипа Figma ↓', '#', 'Пример протипа Axure ↓')
        
        +servicesItem('btnDisc03', 'Disclosed03', 'Контент', 'service-3', 'Первичное наполнение контентом')
        +servicesInner('Disclosed03', 'servInner-3.png', 'service-3', 'На основе аудита формируем ТЗ на необходимые разделы сайта, блоки / экраны, страницы. Готовим ч/б версию сайта с ключевыми шаблонами страниц в нескольких разрешениях. Работаем в Figma/Axure.',  '#', 'Пример прототипа Figma ↓', '#', 'Пример протипа Axure ↓')
        
        +servicesItem('btnDisc04', 'Disclosed04', 'Дизайн', 'service-4', 'Подготовка дизайн-макета')
        +servicesInner('Disclosed04', 'servInner-4.png', 'service-4', 'На основе аудита формируем ТЗ на необходимые разделы сайта, блоки / экраны, страницы. Готовим ч/б версию сайта с ключевыми шаблонами страниц в нескольких разрешениях. Работаем в Figma/Axure.',  '#', 'Пример прототипа Figma ↓', '#', 'Пример протипа Axure ↓')
        
        +servicesItem('btnDisc05', 'Disclosed05', 'HTML-верстка', 'service-5', 'Адаптация дизайна под браузеры и устройства')
        +servicesInner('Disclosed05', 'servInner-5.png', 'service-5', 'На основе аудита формируем ТЗ на необходимые разделы сайта, блоки / экраны, страницы. Готовим ч/б версию сайта с ключевыми шаблонами страниц в нескольких разрешениях. Работаем в Figma/Axure.',  '#', 'Пример прототипа Figma ↓', '#', 'Пример протипа Axure ↓')
        
        +servicesItem('btnDisc06', 'Disclosed06', 'Программинг', 'service-6', 'Создание административной панели управления')
        +servicesInner('Disclosed06', 'servInner-6.png', 'service-6', 'На основе аудита формируем ТЗ на необходимые разделы сайта, блоки / экраны, страницы. Готовим ч/б версию сайта с ключевыми шаблонами страниц в нескольких разрешениях. Работаем в Figma/Axure.',  '#', 'Пример прототипа Figma ↓', '#', 'Пример протипа Axure ↓')
        
        +servicesItem('btnDisc07', 'Disclosed07', 'Поддержка', 'service-7', 'Техническое и контентное ежемесячное сопровождение')
        +servicesInner('Disclosed07', 'servInner-7.png', 'service-7', 'На основе аудита формируем ТЗ на необходимые разделы сайта, блоки / экраны, страницы. Готовим ч/б версию сайта с ключевыми шаблонами страниц в нескольких разрешениях. Работаем в Figma/Axure.',  '#', 'Пример прототипа Figma ↓', '#', 'Пример протипа Axure ↓')
        
        +servicesItem('btnDisc08', 'Disclosed08', 'Продвижение', 'service-8', 'SEO, реклама')
        +servicesInner('Disclosed08', 'servInner-8.png', 'service-8', 'На основе аудита формируем ТЗ на необходимые разделы сайта, блоки / экраны, страницы. Готовим ч/б версию сайта с ключевыми шаблонами страниц в нескольких разрешениях. Работаем в Figma/Axure.',  '#', 'Пример прототипа Figma ↓', '#', 'Пример протипа Axure ↓')
    button(type="button").services__stamp
        svg.services__stamp-layer
            use(xlink:href="static/images/sprite/symbol/sprite.svg#service-layer-0")
        svg.services__stamp-layer
            use(xlink:href="static/images/sprite/symbol/sprite.svg#service-layer-1")
        svg.services__stamp-layer
            use(xlink:href="static/images/sprite/symbol/sprite.svg#service-layer-2")
        svg.services__stamp-layer
            use(xlink:href="static/images/sprite/symbol/sprite.svg#service-layer-3")
