.footer {
    position: relative;
    @include flex-setting(column, flex-start, flex-start);
    width: 100%;
    padding: toRem(36) 4.375% toRem(50) 4.375%;
    background-color: #76c0ff;

    &__main {
        position: relative;
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        margin-bottom: toRem(30);
        padding-left: toRem(78);
    }

    &__logo {
        position: absolute;
        left: 0;
        top: 0;
        @include flex-setting(column, center, center);
        width: toRem(54);
        height: toRem(37);

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__link,
    &__policy {
        @include font-setting($primary-font, toRem(16), toRem(19), 400, $white);
        text-decoration: none;
    }

    &__link {
        margin-bottom: toRem(7);
    }

    &__about {
        @include font-setting($primary-font, toRem(14), toRem(17), 400, $white);
        text-align: left;
        margin-bottom: toRem(25);
    }

    &__legal {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;

        &-link {
            @include font-setting($primary-font, toRem(14), toRem(17), 400, $white);
            text-decoration: none;
        }
    }
}

@include min-screen(768px) {
    .footer {
        padding: toRem(50) 6.25%;
    } 
}