.calc {
    position: relative;
    @include flex-setting(column, flex-start, flex-start);
    padding: toRem(48) 6.25% toRem(32) 6.25%;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(188, 255, 1, 0) 0%, #BCFF00 100%);

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: toRem(28);
        background: linear-gradient(180deg, rgba(188, 255, 0, 0) 0%, #BCFF00 100%);
    }

    &__bg {
        position: absolute;
        top: 50%;
        right: toRem(-150);
        transform: translateY(-50%);
        @include font-setting($primary-font, toRem(550), 1, 900, transparent);
        letter-spacing: -0.027em;
        -moz-text-stroke: toRem(25);
        -moz-text-stroke-color: $white;
        -webkit-text-stroke: toRem(25);
        -webkit-text-stroke-color: $white;
    }

    &__title {
        z-index: 1;
        display: inline-flex;
        max-width: toRem(222);
        margin-bottom: toRem(74);
        @include font-setting($primary-font, toRem(30), toRem(36), 400, $black);
        letter-spacing: -0.017em;
    }

    &__controls {
        z-index: 1;
        @include flex-setting(column, flex-start, center);
        width: 100%;

        &-btn {
            @include flex-setting(column, center, center);
            width: 100%;
            padding: toRem(14) 0;
            @include font-setting($primary-font, toRem(15), toRem(17), 500, $black);
            text-decoration: none;
            text-transform: uppercase;
            background-color: transparent;
            border-radius: toRem(24);
            transition: 0.2s $cubic;
            cursor: pointer;

            &.js-callback {
                margin-bottom: toRem(10);
                border: toRem(1) solid $black;

                &:active {
                    background-color: $green;
                    border-color: $green;
                    color: $black;
                    transition: 0.2s $cubic;
                }
            }

            &.js-link {
                background: $black;
                border: toRem(1) solid $black;
                color: $white;

                &:active {
                    background-color: $white;
                    border-color: $white;
                    color: $black;
                    transition: 0.2s $cubic;
                }
            }
        }
    }
}
