@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('GolosText', '../fonts/Golos/GolosText-Regular', 400, 'normal');
@include font-face('GolosText', '../fonts/Golos/GolosText-Medium', 500, 'normal');
@include font-face('GolosText', '../fonts/Golos/GolosText-DemiBold', 600, 'normal');
@include font-face('GolosText', '../fonts/Golos/GolosText-Bold', 700, 'normal');
@include font-face('GolosText', '../fonts/Golos/GolosText-Black', 900, 'normal');
