// Colors
$white: #ffffff;
$black: #000000;
$green: #BCFF00;
$lightgray: #F4F4F4;
$brown: #797432;
$gray: #C6C6C6;
$thingray: #3F3F3F;
$darkwhite:#E6E6E6;
$medgray: #D7D7D7;
$transgray: #6c6c6c;
// Sizes
$base-font-size: 16;
// Gradient
$gradient: linear-gradient(180deg, rgba(188, 255, 0, 0) 0%, #BCFF00 100%);
// Fonts
$primary-font: 'GolosText', sans-serif;

$text-black: $black;
$text-white: $white;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
