.header {
    position: relative;
    @include flex-setting(row, space-between, center);

    width: 100vw;
    padding: toRem(17) 4.375%;

    &__toggle {
        @include flex-setting(column, center, center);
        width: toRem(24);
        height: toRem(24);
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 1.06667C22 1.37963 21.7463 1.63333 21.4333 1.63333H0.566666C0.253705 1.63333 0 1.37963 0 1.06667C0 0.753705 0.253705 0.5 0.566666 0.5H21.4333C21.7463 0.5 22 0.753705 22 1.06667ZM22 9.00002C22 9.31298 21.7463 9.56669 21.4333 9.56669H0.566666C0.253705 9.56669 0 9.31298 0 9.00002C0 8.68706 0.253705 8.43336 0.566667 8.43336H21.4333C21.7463 8.43336 22 8.68706 22 9.00002ZM21.4333 17.5C21.7463 17.5 22 17.2463 22 16.9334C22 16.6204 21.7463 16.3667 21.4333 16.3667H0.566667C0.253705 16.3667 0 16.6204 0 16.9334C0 17.2463 0.253705 17.5 0.566666 17.5H21.4333Z' fill='%2328282A'/%3E%3C/svg%3E%0A");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: toRem(22) toRem(18);
        padding: 0;
        background-color: transparent;
        border: none;

        z-index: 3;

        &.is-active {
            width: toRem(22);
            height: toRem(22);
            background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_742_8586)'%3E%3Cpath d='M1.00049 0.999999L20.9999 21' stroke='black'/%3E%3Cpath d='M20.9995 1L1.00014 21' stroke='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_742_8586'%3E%3Crect width='22' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            background-size: contain;
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        top: toRem(18);
        transform: translateX(-50%);
        @include flex-setting(column, center, center);
        width: toRem(54);
        height: toRem(37);

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__cabinet {
        @include flex-setting(column, center, center);
        width: auto;
        @include font-setting($primary-font, toRem(16), toRem(18), 400, $black);
        padding: toRem(8) toRem(16);
        background-color: transparent;
        border: 1px solid $black;
        border-radius: toRem(24);
    }
}

@include min-screen(768px) {
    .header {
        padding: toRem(17) 6.25%;
    }
}