.nav {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -150vw;
    @include flex-setting(column, flex-start, flex-start);
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-color: $white;
    overflow-y: scroll;
    padding: toRem(70) 4.375% toRem(30) 4.375%;
    transition: 0.2s $cubic;

    &.is-active {
        left: 0;
        transition: 0.2s $cubic;
    }

    &__line {
        @include flex-setting(column, flex-start, flex-start);
        width: 100%;
        margin-bottom: toRem(36);

        &:last-of-type {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: toRem(16);
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;

            .nav__link {
                @include font-setting($primary-font, toRem(16), toRem(18), 400, $black);
                text-decoration: none;

                &:first-of-type {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }

                &:nth-of-type(2) {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    text-align: center;
                }
            }

            .nav__cabinet {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                @include flex-setting(column, center, center);
                width: auto;
                @include font-setting($primary-font, toRem(16), toRem(18), 400, $black);
                padding: toRem(8) toRem(16);
                background-color: transparent;
                border: 1px solid $black;
                border-radius: toRem(24);
            }

            .nav__search {
                grid-column: 1 / 4;
                grid-row: 2 / 3;
                width: 100%;

                &-input {
                    width: 100%;
                    padding: toRem(9) toRem(20);
                    @include font-setting($primary-font, toRem(16), toRem(1), 400, $black);
                    background-color: #f5f6fa;
                    border-radius: toRem(24);
                    border: none;
                    cursor: text;
                }
            }
        }
    }

    &__title {
        @include font-setting($primary-font, toRem(16), toRem(18), 500, $black);
        margin-bottom: toRem(12);
    }

    &__block {
        @include flex-setting(column, flex-start, flex-start);
        gap: toRem(12);
        width: 100%;
    }

    &__item {
        outline: none;

        &[open] {
            .nav__summary {
                margin-bottom: toRem(20);
                color: #a7a7a7;
            }
        }
    }

    &__summary {
        display: flex;
        @include font-setting($primary-font, toRem(16), toRem(19), 400, $black);
        
        &::-webkit-details-marker,
        &::marker {
            display: none;
        }
    }

    &__inner {
        @include flex-setting(column, flex-start, flex-start);
        padding-left: toRem(46);
    }

    &__subtitle {
        @include font-setting($primary-font, toRem(18), toRem(22), 700, $black);
        margin-bottom: toRem(14);
        padding-left: toRem(10);
    }

    &__list {
        @include flex-setting(column, flex-start, flex-start);
        gap: toRem(12);
        width: 100%;
        padding-left: toRem(10);
        margin-bottom: toRem(32);
        border-left: toRem(2) solid #f1f2f9;

        &-item {
            @include flex-setting(row, flex-start, center);
            width: 100%;
        }

        &-link {
            @include font-setting($primary-font, toRem(16), toRem(19), 400, $black);
            text-decoration: none;
            transition: 0.2s $cubic;

            &:active {
                color: #a7a7a7;
                transition: 0.2s $cubic;
            }
        }
    }

    &__choice {
        position: relative;
        @include flex-setting(column, flex-start, flex-start);
        padding-left: toRem(23);

        &-icon {
            position: absolute;
            left: toRem(-41);
            top: 0;
            width: toRem(41);
            height: toRem(51);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../images/content/choice.png');
        }

        &-name {
            @include font-setting($primary-font, toRem(18), toRem(22), 700, $black);
            text-align: left;
            margin-bottom: toRem(9);
        }

        &-title {
            @include font-setting($primary-font, toRem(16), toRem(19), 400, $black);
        }
    }
}

@include min-screen(768px) {
    .nav {
        padding-left: 6.25%;
        padding-right: 6.25%;
    }
}