- var fooLogo = [{link: 'https://mediaaid.ru/', imageId: 'mad-logo', name: 'Media Aid Design', about: '2 года сотрудничества'}, {link: 'https://www.paramountcomedy.ru/', imageId: 'pc-logo', name: 'Paramaount Comedy', about: '2 года сотрудничества'}, {link: 'https://jr.nickelodeon.ru/', imageId: 'nickjr-logo', name: 'nickJR', about: '2 года сотрудничества'}, {link: 'https://simple.ru/', imageId: 'simple-logo', name: 'Simple', about: '2 года сотрудничества'}, {link: 'https://svscompany.ru/', imageId: 'svs-logo', name: 'СВС', about: '2 года сотрудничества'}]
- var fooNavLinks = [{name: 'Портфолио', link: '#portfolio'}, {name: 'Услуги', link: '#services'}, {name: 'Калькулятор', link: '#calculator'}, {name: 'Рейт-карта', link: '#rates'}, {name: 'Контакты', link: '#contacts'}]
- var fooInnerLinks = [{name: 'Бриф на дизайн ↓', link: '#'}, {name: 'Требования к макетам ↓', link: '#'}, {name: 'Презентация агентства ↓', link: '#'}, {name: 'Техническое задание ↓', link: '#'}, {name: 'Договор ↓', link: '#'}, {name: 'Приложение к договору ↓', link: '#'}, {name: 'Реквизиты исполнителя ↓', link: '#'}]

footer.footer
    .footer__main
        a(href="index.html" target="_self").footer__logo
            img(src="static/images/content/foo-logo.png" width="" height="" alt="").footer__logo-image
        a(href="mailto:email@email.com" target="_self").footer__link email@email.com
        span.footer__policy Все права защищены ©
    .footer__nav

    p.footer__about Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .footer__legal
        a(href="#" target="_blank").footer__legal-link Пользовательское соглашение
        a(href="#" target="_blank").footer__legal-link Согласие на обработку персональных данных